.app {
  font-family: Arial, sans-serif;
  transition: all 0.3s ease; 
  padding: 20px;
  min-height: 100vh;
}


.app.light {
  background-color: white;
  color: black;
}


.app.dark {
  background-color: #333;
  color: white;
}


button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

button.fixed-theme-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button.fixed-theme-toggle:hover {
  background-color: #ddd;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

li button {
  margin-left: 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
input {
  padding: 10px;
  width: 80%;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #007bff;
}

h1, h2 {
  text-align: center;
  margin-bottom: 20px;
}

